{% extends 'base.html' %}
{% block body %}
    <main>

        <!-- Shots list -->
        <section>
            <div class="container">


                <div class="row">


                    <!-- END Shot -->

                    <!-- Shot -->
                    {% for item in post %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">


                            <div class="shot">

                                <div class="shot-preview">
                                    <a class="img" id={{ item.id }}  data-url={% url 'detail' item.id %} ><img
                                            src="{{ item.image.url }}"
                                            style="width: 360px; height: 270px;"
                                            alt=""></a>
                                    <h5 class="title"><a href="shot-gallery.html">{{ item.description }}</a></h5>
                                </div>

                                <div class="shot-detail">
                                    <div class="shot-info">
                                        <a href="{% url 'profile_view' item.user_id %}"><img
                                                src="{{ item.user.profilephoto.url }}"
                                                alt="avatar"></a>
                                        <h6><a href="{% url 'profile_view' item.user.id %}">{{ item.user }}</a></h6>
                                        <time datetime="2016-02-04 22:30">{{ item.date }}</time>
                                    </div>

                                    <ul class="shot-stats">
                                        <li><i class="fa fa-eye"></i><span>{{ item.view.all.count }}</span></li>
                                        <li><a href="#comments"><i
                                                class="fa fa-comments"></i><span>{{ item.commentpost_set.all.count }}</span></a>
                                        </li>

                                        <li><a class="like" data-id="{{ item.id }}" data-attr="data-id" href="#">
                                            {% if request.user in item.get_likers %}
                                                <i class="fa fa-heart likebutton-{{ item.id }}"></i>
                                            {% else %}
                                                <i class="fa fa-heart-o likebutton-{{ item.id }}"></i>
                                            {% endif %}
                                            <span class="like-{{ item.id }}">{{ item.like_set.all.count }}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- END Shot -->


                    <!-- END Shot -->

                </div>

                <br><br>

            </div>
        <ul class="pagination">
                        {% if post.has_previous %}
                            <li class="page-item disabled"><a class="page-link"
                                                              href="?page={{ post.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}

                        {% for page in page_range %}
                            {% if page == post.number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if post.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ post.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
        </section>



    </main>



{% endblock %}
