{% extends 'base.html' %}
{% block body %}
    <!-- Main container -->
    <main>

        <!-- About -->
        <section class="bg-white">
            <div class="container">
                <header class="section-header">
                    <span>{{ about.title }}</span>
                    <h2>{{ about.name }}</h2>
                    <p>{{ about.description }}</p>
                </header>


                <p>{{ about.text }}</p>


            </div>
        </section>
        <!-- END About -->


        <!-- Team -->
        <section class="no-border-bottom">
            <div class="container">
                <header class="section-header">
                    <span>Who we are</span>
                    <h2>Our team</h2>
                    <p>Currently, we're three geek and will grow up soon</p>
                </header>

                <div class="row equal-blocks">

                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card user-widget">
                            <div class="card-block text-center">
                                <a href="user-profile.html"><img src="assets/img/avatar-1.jpg" alt="avatar"></a>
                                <h5><a href="#">Jose Shams</a></h5>
                                <p class="lead">Co-founder</p>
                                <br>
                                <p class="text-justify">Curabitur eros tellus, eleifend eu ligula sed, vestibulum
                                    venenatis
                                    justo. Nunc semper augue non enim lacinia, fermentum condimentum nulla finibus.
                                    Curabitur quis porttitor neque. Proin gravida libero lacus, vel varius lectus
                                    blandit
                                    eu. Pellentesque vitae rhoncus erat, id sagittis lorem. Etiam condimentum turpis
                                    lectus,
                                    vitae maximus nibh congue vel. Nulla facilisi. Mauris nec ipsum vitae quam
                                    vestibulum
                                    ullamcorper sed at tortor.</p>
                            </div>

                            <div class="card-footer">
                                <ul class="social-icons">
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END User widget -->

                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card user-widget">
                            <div class="card-block text-center">
                                <a href="user-profile.html"><img src="assets/img/avatar-3.jpg" alt="avatar"></a>
                                <h5><a href="#">Mary Amini</a></h5>
                                <p class="lead">Co-founder</p>
                                <br>
                                <p class="text-justify">Curabitur eros tellus, eleifend eu ligula sed, vestibulum
                                    venenatis
                                    justo. Nunc semper augue non enim lacinia, fermentum condimentum nulla finibus.
                                    Curabitur quis porttitor neque. Proin gravida libero lacus, vel varius lectus
                                    blandit
                                    eu. Pellentesque vitae rhoncus erat, id sagittis lorem. Etiam condimentum turpis
                                    lectus,
                                    vitae maximus nibh congue vel. Nulla facilisi. Mauris nec ipsum vitae quam
                                    vestibulum
                                    ullamcorper sed at tortor.</p>
                            </div>

                            <div class="card-footer">
                                <ul class="social-icons">
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END User widget -->

                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card user-widget">
                            <div class="card-block text-center">
                                <a href="user-profile.html"><img src="assets/img/avatar-5.jpg" alt="avatar"></a>
                                <h5><a href="#">johnetta Doe</a></h5>
                                <p class="lead">UI Designer</p>
                                <br>
                                <p class="text-justify">Curabitur eros tellus, eleifend eu ligula sed, vestibulum
                                    venenatis
                                    justo. Nunc semper augue non enim lacinia, fermentum condimentum nulla finibus.
                                    Curabitur quis porttitor neque. Proin gravida libero lacus, vel varius lectus
                                    blandit
                                    eu. Pellentesque vitae rhoncus erat, id sagittis lorem. Etiam condimentum turpis
                                    lectus,
                                    vitae maximus nibh congue vel. Nulla facilisi. Mauris nec ipsum vitae quam
                                    vestibulum
                                    ullamcorper sed at tortor.</p>
                            </div>

                            <div class="card-footer">
                                <ul class="social-icons">
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END User widget -->

                </div>

            </div>
        </section>
        <!-- END Team -->

    </main>
    <!-- END Main container -->


{% endblock %}