{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Settings {% endblock %}

{% block body %}
    <main>
        <!-- Page links -->
        <div class="page-links">
            <div class="container">
                <div class="pull-left">
                    <ul class="link-list">
                        <li><a href="{% url 'settings_view' %}">Profile</a></li>
                        <li><a href="{% url 'socialsetting' %}">Social medias</a></li>
                        <li><a href="{% url 'security' %}">Security</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END Page links -->

        <section class="no-border-bottom section-sm">
            <div class="container">
                <header class="section-header">
                    <span>Settings</span>
                    <h3>Security settings</h3>
                    <p>Update your password with new one</p>
                </header>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h6>Change password</h6>
                            </div>

                            <div class="card-block">
                                <form class="form-horizontal" method="post">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        {% for field in form %}
                                            <div class="form-group">
                                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                                {{ field|add_class:"form-control" }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-primary btn-sm" type="submit">Save changes</button>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>
    <!-- END Main container -->


{% endblock %}