{% extends 'base.html' %}
<!-- Main container -->
{% block body %}
    <main>
        <!-- Page links -->
        <div class="page-links">
            <div class="container">
                <div class="pull-left">
                    <ul class="link-list">
                        <li><a href="{% url 'settings_view' %}">Profile</a></li>
                        <li><a href="{% url 'socialsetting' %}">Social medias</a></li>
                        <li><a href="setting-notification.html">Notification</a></li>
                        <li><a href="setting-security.html">Security</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END Page links -->

        <section class="no-border-bottom section-sm">
            <div class="container">
                <header class="section-header">
                    <span>Settings</span>
                    <h3>Social medias profiles</h3>
                    <p>Update your facebook, twitter, linkedin, etc. address</p>
                </header>
            {% if messages %}
                {% for msj in messages %}
                    <h1>{{ msj }}</h1>
                {% endfor %}
            {% endif %}


                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h6>Social pages</h6>
                            </div>
                            <div class="card-block">
                                <form class="form-horizontal" method="post" action="{% url 'socialsetting' %}">
                                    {% csrf_token %}
                                    {% for field in socialform %}
                                        <div class="form-group" style="width: 30%">
                                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label " >{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    {% endfor %}

                                    <button type="submit" class="btn btn-success">Save</button>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>
    <!-- END Main container -->

{% endblock %}
