<section class="no-border-bottom section-sm">
    <div class="container-fluid">
        <header class="section-header">
            <h3>{{ currentpost.title }}</h3>
            <p>{{currentpost.date}} <a href="user-profile.html">{{currentpost.user}}</a></p>
        </header>

        <div class="row">
            <div class="col-xs-12 col-md-8">

                <!-- Shot and details -->
                <div class="card no-margin-top">
                    <div class="card-block">

                        <ul class="image-gallery">
                            <li data-thumb="assets/img/shot-big-1-thumb.jpg" data-src="assets/img/shot-big-1.jpg">
                                <img src="{{ currentpost.image.url }}" alt="thumb">
                            </li>


                        </ul>

                        <hr>

                        <p>{{currentpost.description}}.</p>


                    </div>
                </div>
                <!-- END Shot and details -->


                <!-- Comments -->
                <div id="comments" class="card">
                    <div class="card-header">
                        <h6>Comments (45)</h6>

                        <div class="comment-pagination">
                            <a class="prev" href="#"><i class="ti-angle-left"></i></a>
                            <a class="next" href="#"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>

                    <ul class="comments">
                        <li>
                            <a href="user-profile.html"><img src="assets/img/avatar-1.jpg" alt=""></a>
                            <h6><a href="user-profile.html">Jose</a>
                                <time datetime="2016-02-04 22:30">14 hours ago</time>
                            </h6>
                            <p>Nam tincidunt diam id nisl accumsan molestie.</p>
                        </li>

                        <li>
                            <a href="user-profile.html"><img src="assets/img/avatar-5.jpg" alt=""></a>
                            <h6><a href="user-profile.html">Dumduri</a>
                                <time datetime="2016-02-04 22:30">1 days ago</time>
                            </h6>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Praesent scelerisque porta bibendum. Mauris ac libero convallis, facilisis diam quis,
                                porta lorem. Aenean suscipit risus a faucibus porta.</p>
                        </li>


                        <li>
                            <a href="user-profile.html"><img src="{{ currentpost.user.profilephoto }}" alt=""></a>
                            <h6><a href="user-profile.html">Jose</a>
                                <time datetime="2016-02-04 22:30">1 week ago</time>
                            </h6>
                            <p>Ut pulvinar libero tortor, laoreet suscipit tellus varius nec. In tristique pretium leo
                                sed accumsan. Mauris ac ex lectus. Fusce vitae imperdiet diam.</p>
                        </li>

                        <li>
                            <a href="user-profile.html"><img src="assets/img/avatar-5.jpg" alt=""></a>
                            <h6><a href="user-profile.html">Dumduri</a>
                                <time datetime="2016-02-04 22:30">1 week ago</time>
                            </h6>
                            <p>Ut pulvinar libero tortor, laoreet suscipit tellus varius nec. In tristique pretium leo
                                sed accumsan.</p>
                        </li>

                        <li>
                            <a href="user-profile.html"><img src="assets/img/avatar-3.jpg" alt=""></a>
                            <h6><a href="user-profile.html">Mary</a>
                                <time datetime="2016-02-04 22:30">2 weeks ago</time>
                            </h6>
                            <p>Ut pulvinar libero tortor, laoreet suscipit tellus varius nec. Mauris ac ex lectus. Fusce
                                vitae imperdiet diam.</p>
                        </li>
                    </ul>

                    <form class="comment-form">
                        <img src="assets/img/avatar-2.jpg" alt="">
                        <p><input type="text" class="form-control" placeholder="Leave a comment..."></p>
                    </form>

                </div>
                <!-- END Comments -->

            </div>

            <aside class="col-xs-12 col-md-4 shot-sidebar">
                <!-- User widget -->
                <div class="sidebar-block">
                    <div class="shot-by-widget">
                        <a href="{% url 'profile_view' currentpost.user.id  %}"><img src="{{currentpost.user.profilephoto.url}}" ></a>
                        <a class="username" href="user-profile.html">Facebook</a>
                        <p class="title">{{ currentpost.user.headline }}</p>
                        <p class="subtitle">{{ currentpost.user.about }}</p>

                        <ul class="user-stats">
                            <li><a href="user-profile.html"><i>Shots</i><span>125</span></a></li>
                            <li><a href="user-followers.html"><i>Followers</i><span>2.3K</span></a></li>
                            <li><a href="user-followers.html"><i>Following</i><span>279</span></a></li>
                        </ul>

                        <a class="btn btn-success btn-outline btn-sm" href="#">Follow</a>
                    </div>
                </div>
                <!-- END User widget -->


                <!-- Shot stats -->
                <div class="sidebar-block">
                    <ul class="single-shot-stats">
                        <li><i class="fa fa-eye"></i><span>658</span></li>
                        <li><a class="like" href="#"><i class="fa fa-heart"></i><span>189</span></a></li>
                    </ul>
                </div>
                <!-- END Shot stats -->


                <!-- Details -->
                <div class="sidebar-block">
                    <h6>Details</h6>
                    <dl class="half-half">
                        <dt>Size</dt>
                        <dd>5472 x 3648</dd>

                        <dt>File size</dt>
                        <dd>1.1 MB</dd>

                        <dt>File type</dt>
                        <dd>Jpeg</dd>

                        <dt>Aspect Ratio</dt>
                        <dd>4:3</dd>

                        <dt>Location</dt>
                        <dd>Denmark</dd>

                        <dt>License</dt>
                        <dd>GPL</dd>

                    </dl>
                </div>
                <!-- END Details -->


                <!-- Tags -->
                <div class="sidebar-block">
                    <h6>Tags</h6>
                    <div class="tag-list">
                        <a href="#">Website</a>
                        <a href="#">Social</a>
                        <a href="#">App</a>
                        <a href="#">Light design</a>
                        <a href="#">Blue</a>
                        <a href="#">Pages</a>
                        <a href="#">Facebook</a>
                    </div>
                </div>
                <!-- END Tags -->


                <!-- Share -->
                <div class="sidebar-block">
                    <h6>Share on</h6>
                    <ul class="social-icons text-center">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- END Share -->


                <!-- More shots -->
                <div class="sidebar-block">
                    <h6>More from Facebook</h6>
                    <ul class="photo-list cols-2">
                        <li><a href="#"><img src="assets/img/shot-3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/shot-4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/shot-7.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/shot-6.jpg" alt=""></a></li>
                    </ul>
                </div>
                <!-- END More shots -->


            </aside>
        </div>
    </div>
</section>
