{% load widget_tweaks %}
{% load static %}
{% load common %}
<script src="{% static 'js/follow.js' %}"></script>

<section class="no-border-bottom section-sm">
    <div class="container-fluid">
        <header class="section-header">
            <h3>{{ currentpost.title }}</h3>
            <p>{{ currentpost.date }} <a href="user-profile.html">{{ currentpost.user }}</a></p>
        </header>

        <div class="row">
            <div class="col-xs-12 col-md-8">

                <!-- Shot and details -->
                <div class="card no-margin-top">
                    <div class="card-block">

                        <ul class="image-gallery">
                            <li data-thumb="assets/img/shot-big-1-thumb.jpg" data-src="assets/img/shot-big-1.jpg">
                                <img src="{{ currentpost.image.url }}" alt="thumb">
                            </li>


                        </ul>

                        <hr>

                        <p>{{ currentpost.description }}.</p>


                    </div>
                </div>
                <!-- END Shot and details -->
                <!-- Comments -->
                <div id="comments" class="card">
                    <div class="card-header">
                        <h6>Comments (<span class="cm_count">{{ current_post_comment.count }}</span>)</h6>
                        <div class="comment-pagination">
                            <a class="prev" href="#"><i class="ti-angle-left"></i></a>
                            <a class="next" href="#"><i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                    <ul class="comments">
                        {% for i in current_post_comment %}
                            <li>
                                <a href=" {% url 'profile_view' i.user.id %} "><img
                                        src="{{ i.user.profilephoto.url }}" alt=""></a>
                                <h6><a href="">{{ i.user }}</a>
                                    <time datetime="{{ i.date }}">{{ i.date|timesince }}</time>
                                </h6>
                                <p>{{ i.comment }}</p>
                            </li>
                        {% endfor %}

                    </ul>
                    <form class="comment-form">
                        <img src="{{ request.user.profilephoto.url }}" alt="">
                        <p>
                            {% for i in form %}
                                {% render_field i class="form-control" placeholder='Your comment' id='comment' %}
                            {% endfor %}
                        </p>
                    </form>
                </div>


            </div>

            <aside class="col-xs-12 col-md-4 shot-sidebar">
                <!-- User widget -->
                <div class="sidebar-block">
                    <div class="shot-by-widget">
                        <a href="{% url 'profile_view' currentpost.user.id %}"><img
                                src="{{ currentpost.user.profilephoto.url }}"></a>
                        <a class="username"
                           href="{% url 'profile_view' currentpost.user.id %}">{{ currentpost.user }}</a>
                        <p class="title">{{ currentpost.user.headline }}</p>
                        <p class="subtitle">{{ currentpost.user.about }}</p>

                        <ul class="user-stats">
                            <li class="active"><a href="user-profile.html"><i>Shots</i><span><x></x>
                                {{ count }}</span></a></li>
                            <li>
                                <a href="{% url 'friend_follow' user.id %}"><i>Followers</i><span>{{ follower_count }}</span></a>
                            </li>
                            <li>
                                <a href="{% url 'friend_following' user.id %}"><i>Following</i><span>{{ following_count }}</span></a>
                            </li>
                        </ul>
                        <ul class="col-sm-12 col-md-6 action-buttons">


                            {% if currentpost.user != request.user %}
                                <ul class="col-sm-12 col-md-6 action-buttons">
                                {% if request.user in currentpost.user|get_followers %}
                                    <a class="btn btn-success follow-btn" data-id="{{ currentpost.user.id }}"
                                    >Unfollow</a>
                                {% else %}
                                    <a class="btn btn-success follow-btn" data-id="{{ currentpost.user.id }}"
                                    >Follow</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'update' currentpost.id %}">Update</a>
                                <a href="{% url 'delete' currentpost.id %}">Delete</a>
                            {% endif %}
                            </ul>
                        </ul>
                    </div>
                </div>
                <!-- END User widget -->


                <!-- Shot stats -->
                <div class="sidebar-block">
                    <ul class="single-shot-stats">
                        <li><i class="fa fa-eye"></i><span>{{ currentpost.view.all.count }}</span></li>

                        <li><a class="like" data-id="{{ currentpost.id }}" data-attr="data-id" href="#">


                            {% if request.user in currentpost.get_likers %}
                                <i class="fa fa-heart likebutton-{{ currentpost.id }}"></i>
                            {% else %}
                                <i class="fa fa-heart-o likebutton-{{ currentpost.id }}"></i>
                            {% endif %}
                            <span class="like-{{ currentpost.id }}">{{ currentpost.like_count }}</span></a>
                        </li>
                        <a href="{% url 'likers' currentpost.id %}">Likers</a>

                    </ul>
                </div>
                <!-- END Shot stats -->


                Collapse


                <!-- Tags -->
                <div class="sidebar-block">
                    <h6>Tags</h6>
                    <div class="tag-list">
                        <a href="#">Website</a>
                        <a href="#">Social</a>
                        <a href="#">App</a>
                        <a href="#">Light design</a>
                        <a href="#">Blue</a>
                        <a href="#">Pages</a>
                        <a href="#">Facebook</a>
                    </div>
                </div>
                <!-- END Tags -->


                <!-- Share -->
                <div class="sidebar-block">
                    <h6>Share on</h6>
                    <ul class="social-icons text-center">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- END Share -->


                <!-- More shots -->
                <div class="sidebar-block">
                    <h6>More from Facebook</h6>
                    <ul class="photo-list cols-2">
                        <li><a href="#"><img src="assets/img/shot-3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/shot-4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/shot-7.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/shot-6.jpg" alt=""></a></li>
                    </ul>
                </div>
                <!-- END More shots -->


            </aside>
        </div>
    </div>
</section>
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        }
    });
    $(document).ready(function (e) {
        $(".like").click(function (e) {
            var currentpost_id = $(this).attr("data-id");
            var likebutton = $(".likebutton-" + currentpost_id);
            var like_count = $(".like-" + currentpost_id);
            var form = new FormData();
            form.append("post_id", currentpost_id);
            $.ajax({
                url: "{% url 'like-view' %}",
                method: "POST",
                processData: false,
                contentType: false,
                data: form,

                success: function (data) {
                    console.log(data);
                    $(".like-" + currentpost_id).text(data.like_count);
                    if (data.status) {
                        likebutton.addClass("fa-heart");
                        likebutton.removeClass("fa-heart-o");

                    } else {
                        likebutton.removeClass("fa-heart");
                        likebutton.addClass("fa-heart-o");
                    }
                },
                error: function (xhr, msg, text) {
                    console.log(xhr, msg, text);
                }

            })
        })


    })
</script>

<script>
    $(document).ready(function (e) {
        $('#comment').focus(function () {
            var post_id_cm = {{ currentpost.id }}
                $('.comment-form').submit(function (e) {
                    e.preventDefault()
                    var text_comment = $('#comment').val();
                    $.ajax({
                        url: '{{ request.path }}',
                        method: 'POST',
                        data: {
                            post_id_cm: post_id_cm,
                            text_comment: text_comment,
                        },
                        success: function (data) {
                            $('.comments').append(
                                "<li>" +
                                `<a href='user-profile.html'><img src='${data.image}' alt=''></a>` +
                                `<h6><a href='user-profile.html'>${data.user}</a>` +
                                `<time datetime=${data.create_date}>now</time>` +
                                "</h6>" +
                                `<p>${data.text_comment}</p>` +
                                "</li>"
                            )
                            $('.cm_count').text(data.comment_count)
                            $("#comment").val('')
                        }
                    })
                })
        })
    })


</script>
